.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 30vh;
  background-color: #1f262e;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.sidebar ul {
  list-style-type: none;
  padding: 5px;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar .link {
  text-decoration: none;
  width: 100%; 
  padding: 12px 15px; 
  color: #ecf0f1;
  font-size: 1em;
  font-weight: bold;
}

.sidebar a:hover {
  color: #2c5f82;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #243744;
  color: white;
  margin: 5px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #26ad67;
  margin: 5px;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.delete{
  background-color: #ab322e;
}
.delete:hover{
  background-color: #712e2c;

}

button:hover {
  background-color: #136029;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin: 2px;
  padding: 8px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column; 
  }

  .sidebar {
    width: 100%; 
    text-align: center;
  }

  .sidebar h2 {
    font-size: 1.5em;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar li {
    margin: 5px 0;
  }

  form {
    grid-template-columns: repeat(2, 1fr);
  }

  button[type="submit"] {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  .sidebar h2 {
    font-size: 1.2em;
  }

  form {
    grid-template-columns: 1fr;
  }

  button[type="submit"] {
    grid-column: span 1;
  }
}
